<ion-grid>
  <ion-row>
    <ion-col size="2">
      <ion-img class="btn-back" (click)="navigateToComunidades()" src="assets/icon/header-vecino/atras.png"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-text>{{comunidadObjeto.nombre}}</ion-text>
    </ion-col>
    <ion-col size="2">
      <div class="notif-wrapper">
        <ion-img
          class="btn-notif"
          (click)="navigateToNotificaciones()"
          src="assets/icon/header-vecino/notificacion.png">
        </ion-img>
        <div class="notif-badge">
          5
        </div>
      </div>
    </ion-col>
    <ion-col size="2">
      <ion-img class="btn-chat" (click)="navigateToChat()" src="assets/icon/header-vecino/chat.png"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
