<ion-content class="login-container">
  <div class="titulo-container">
    <h2 class="title">Registro</h2>
    <h3 class="subtitle">Rellena los siguientes datos personales</h3>
  </div>

  <div class="input-container">
    <ion-text>Email</ion-text>
    <ion-input [(ngModel)]="datosRegistro.correo" type="email" placeholder="Introduce tu email" required></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Contraseña</ion-text>
    <ion-input [(ngModel)]="datosRegistro.contrasena" type="password" placeholder="Introduce tu contraseña" minlength="6" required></ion-input>
  </div>

  <div class="input-container">
    <ion-text>Confirmar contraseña</ion-text>
    <ion-input [(ngModel)]="repetirContrasena" type="password" placeholder="Vuelva a introducir tu contaseña" required></ion-input>
  </div>

  <div class="input-container">
    <div class="checkbox-container">
      <ion-checkbox [(ngModel)]="aceptaPoliticas" required></ion-checkbox>
      <ion-text class="checkbox-text">Acepto las políticas y condiciones</ion-text>
    </div>
  </div>

  <div class="registro-container">
    <ion-text class="registro-texto">¿Ya tienes una cuenta?</ion-text>
    <ion-text class="iniciar-sesion" (click)="navigateToInicioSesion()">Iniciar Sesión</ion-text>
  </div>

  <ion-button expand="block" (click)="navigateToConfigPerfilVecino()">SIGUIENTE</ion-button>
</ion-content>

<ion-toast id="campoVacioRegistro" message="Por favor, completa todos los campos" duration="3000" position="top" color="warning"></ion-toast>
<ion-toast id="errorEmail" message="El email no es válido" duration="3000" position="top" color="warning"></ion-toast>
<ion-toast id="errorContrasena" message="La contraseña debe tener al menos 6 caracteres" duration="3000" position="top" color="warning"></ion-toast>
<ion-toast id="errorConfirmarContrasena" message="Las contraseñas no coinciden" duration="3000" position="top" color="warning"></ion-toast>
<ion-toast id="errorPoliticas" message="Debes aceptar las políticas y condiciones" duration="3000" position="top" color="warning"></ion-toast>
<ion-toast id="exitoCreacionRegistro" message="Primera pantalla de registro completada" duration="3000" position="top" color="primary"></ion-toast>
