<app-header></app-header>

<ion-grid class="grid_menus">
  <ion-row class="fila_menus">

    <ion-col size="12" size-md="2.5" class="menu-lateral">
      <app-nav-lateral-comunidad></app-nav-lateral-comunidad>
    </ion-col>

    <ion-content>
      <div class="titulo-container">
        <h2 class="title">Crear sanción</h2>
        <h3 class="subtitle">Describa la información que deseas mostrar en su sanción</h3>
      </div>

      <div class="input-container">
        <ion-text>Motivo</ion-text>
        <ion-input
          [(ngModel)]="crearSancion.motivo"
          placeholder="Escribe el motivo de la sanción..."
          type="text"
        ></ion-input>
      </div>

      <div class="input-container">
        <ion-text>Sanción</ion-text>
        <ion-input
          [(ngModel)]="crearSancion.sancion"
          placeholder="Escribe cuál será la sanción..."
          type="text"
        ></ion-input>
      </div>

      <div class="input-container">
        <ion-text>Vecino afectado</ion-text>
        <ion-select [(ngModel)]="crearSancion.idVecino" placeholder="Selecciona un vecino">

          @for (vecino of vecinos; track vecino.id) {
            <ion-select-option [value]="vecino.id">
              {{ vecino.nombre }} {{ vecino.apellidos }}
            </ion-select-option>
          }
        </ion-select>
      </div>
      <ion-button expand="block" (click)="crearSancionMetodo()">Crear</ion-button>
    </ion-content>

    <ion-col size="12" size-md="2.5" class="menu-lateral">
            <app-nav-lateral-derecho-comunidad></app-nav-lateral-derecho-comunidad>
    </ion-col>

  </ion-row>
</ion-grid>

<app-footer-comunidad class="ocultarFooter"></app-footer-comunidad>
