<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2.4">
          <ion-img [src]="propiedadesImgSrc"></ion-img>
        </ion-col>
        <ion-col size="2.4">
          <ion-img (click)="navigateToGastos()" [src]="gastosImgSrc"></ion-img>
        </ion-col>
        <ion-col size="2.4">
          <ion-img (click)="navigateToPerfil()" [src]="perfilImgSrc"></ion-img>
        </ion-col>
        <ion-col size="2.4">
          <ion-img (click)="navigateToElecciones()" [src]="eleccionesImgSrc"></ion-img>
        </ion-col>
        <ion-col size="2.4">
          <ion-img (click)="navigateToDocumentacion()" [src]="documentacionImgSrc"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
