<app-header></app-header>
<app-header-vecino class="ocultarHeader"></app-header-vecino>

<ion-grid class="grid_menus">
  <ion-row class="fila_menus">

    <!-- MENÚ IZQUIERDO -->
    <ion-col size="12" size-md="2.5" class="menu-lateral">
      <app-nav-lateral-vecino></app-nav-lateral-vecino>
    </ion-col>

    <!-- CONTENIDO -->
    <ion-content>
      <ion-text>Lista viviendas</ion-text>
    </ion-content>

    <!-- MENÚ DERECHO -->
    <ion-col size="12" size-md="2.5" class="menu-lateral">
      <app-nav-lateral-derecho-vecino></app-nav-lateral-derecho-vecino>
    </ion-col>

  </ion-row>
</ion-grid>

<app-footer-vecino class="ocultarFooter"></app-footer-vecino>
