<app-header></app-header>

<ion-grid class="grid_menus">
  <ion-row class="fila_menus">

    <!-- MENÚ IZQUIERDO -->
    <ion-col size="12" size-md="2.5" class="menu-lateral">
      <app-nav-lateral-comunidad></app-nav-lateral-comunidad>
    </ion-col>

    <!-- CONTENIDO -->
    <ion-content>
      <ion-grid>
        <ion-row class="cabecera">
          <ion-col size="2">
            <div class="notif-wrapper">
              <ion-img
                class="btn-notif"
                src="assets/icon/lista-viviendas/notificacion.png">
              </ion-img>
              <div class="notif-badge">
                5
              </div>
            </div>
          </ion-col>
          <ion-col size="8">
            <div class="buscador">
              <ion-searchbar
                class="searchbar-blanco"
                placeholder="Buscar viviendas"
                showCancelButton="focus"
              ></ion-searchbar>
            </div>
          </ion-col>
          <ion-col size="2">
            <ion-img src="assets/icon/lista-viviendas/anadir.png"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>


      <div class="tarjeta">
        <p class="tarjeta-titulo">Direccion</p>
      </div>
    </ion-content>

    <!-- MENÚ DERECHO -->
    <ion-col size="12" size-md="2.5" class="menu-lateral">
<!--      <app-nav-lateral-derecho-vecino></app-nav-lateral-derecho-vecino>-->
    </ion-col>

  </ion-row>
</ion-grid>

<app-footer-comunidad class="ocultarFooter"></app-footer-comunidad>
