<app-header></app-header>
<app-header-vecino class="ocultarHeader"></app-header-vecino>

<ion-grid class="grid_menus">
  <ion-row class="fila_menus">

    <!-- MENÚ IZQUIERDO -->
    <ion-col size="12" size-md="2.5" class="menu-lateral">
      <app-nav-lateral-vecino></app-nav-lateral-vecino>
    </ion-col>

    <!-- CONTENIDO -->
    <ion-content>

      <!-- USUARIO -->
      <!-- USUARIO -->
      <ion-grid class="grid-principal">
        <ion-row class="row-usuario perfil-usuario">
          <ion-col size="12" class="perfil-contenido">

            <div class="perfil-avatar">
              <img [ngSrc]="getImageUrlVecino(vecinoFoto)" width="100" height="100"/>
            </div>

            <div class="perfil-info">
              @if (vecino) {
                <span class="nombre-usuario">{{ vecino.nombre }} {{ vecino.apellidos }} </span>
              }
              <span class="info-usuario"> {{ comprobarIdentidad() }}</span>
            </div>

            <div class="perfil-derecha">
              <button class="btn-salir">
                Salir
              </button>
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>


      <div class="interlineado">{{ textoListadoVecino() }}</div>

      <!-- VECINOS -->

      @if (residentes.length > 0) {
        <ion-grid class="grid-principal tarjetas">
          <ion-row>

            <ion-col size="12" size-md="4">
              <div class="card">

                @for (residente of residentes; track residente.id) {
                  <ion-row class="row-residente">
                    <ion-col size="3">
                      <img [ngSrc]="getImageUrlVecino(residente)" width="100" height="100" alt=""/>
                    </ion-col>
                    <ion-col size="9">
                      <span class="nombre-usuario2">{{ residente.nombre }} {{ residente.apellidos }}</span>
                      <span class="info-usuario2">{{ comprobarIdentidadResidente(residente) }}</span>
                    </ion-col>
                  </ion-row>
                }
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      }

      @if (residentes.length === 0) {
        <div class="div-sin">
          <span>Actualmente no hay más vecinos en la vivienda.</span>
        </div>
      }

      <div class="interlineado">{{ textoSanciones() }}</div>

      <!-- SANCIONES -->

      @if (sancionesVecino.length > 0) {
        <ion-grid class="grid-principal tarjetas">


            <ion-row>
              @for (sancion of sancionesVecino; track sancion.id) {
              <ion-col size="12" size-md="4">
                <div class="card card-sancion">
                  <div class="sancion-div">Sanción: {{ sancion.sancion }}</div>
                  <div class="motivo-div">Motivo: {{ sancion.motivo }}</div>
                </div>
              </ion-col>
              }
            </ion-row>

        </ion-grid>
      }

      @if (sancionesVecino.length === 0) {
        <div class="div-sin">
          <span>No hay impuesta ningún tipo de sanción.</span>
        </div>
      }

      <div class="interlineado">{{ textoDeudas() }}</div>

      <!-- DEUDAS -->
      <ion-grid class="grid-principal tarjetas">
        <ion-row>

          @for (gasto of deudasVecino; track gasto.id) {
            <ion-col (click)="irGasto(gasto.id)" size="12" size-md="4">
              <div class="card card-deuda">
                {{ gasto.concepto }}
              </div>
            </ion-col>
          }
        </ion-row>
      </ion-grid>

      @if (deudasVecino.length === 0) {
        <div class="div-sin">
          <span>No hay deudas pendientes de tu vivienda.</span>
        </div>
      }


    </ion-content>

    <!-- MENÚ DERECHO -->
    <ion-col size="12" size-md="2.5" class="menu-lateral">
      <app-nav-lateral-derecho-vecino></app-nav-lateral-derecho-vecino>
    </ion-col>

  </ion-row>
</ion-grid>

<app-footer-vecino class="ocultarFooter"></app-footer-vecino>
