ion-content {
  height: 65%;
  --background: #E7F4E7;
}

.div-sin {
  margin: 60px auto 0;
  text-align: center;

  span {
    font-weight: bold;
  }
}

ion-img {
  margin: 20px auto 10px auto;
  width: 60px;
}

.grid-principal {
  padding: 0;

  .row-principal {
    background-color: #7CDF68;
    border: 1px solid black;
    padding: 0;
    margin-bottom: 20px;

    &:first-child {
      border-top: 1px solid black;
    }

    .contenedor {
      width: 100%;

      .vecino-div {
        background-color: #57BF48;
        border-radius: 20px;
        padding: 10px;
        font-weight: bold;
        color: white;
        margin: 15px;
      }

      .sancion-div {
        background-color: red;
        border-radius: 20px;
        padding: 10px;
        font-weight: bold;
        color: white;
        margin: 15px;

        span:first-child {
          font-style: italic;
        }
      }

      .motivo-div {
        text-align: center;
        font-weight: bold;
        background-color: white;
        padding: 10px;
        color: black;
        border-top: 2px solid black;

        .motivo-grid {
          padding: 0;

          ion-row {
            padding: 0;
          }

          ion-col {
            padding-top: 15px;
            text-align: center;
            margin: 0 auto;
          }

          ion-col:last-child {
            padding-top: 10px;
            padding-left: 15px;
            display: flex;
            align-items: center;
          }

          span:first-child {
            font-style: italic;
          }

          .cruz-roja {
            width: 26px;
            cursor: pointer;
            margin-right: 0;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.div-sin {
  margin: 60px auto 0;
  text-align: center;

  span {
    font-weight: bold
  }
}

.inline-text {
  display: inline;
  margin-left: 5px;
}

.boton {
  cursor: pointer;
}
@media(min-width: 768px) {

  ion-grid {
    max-width: 700px;
    margin: 0 auto;

  }
}
