<app-header></app-header>

<ion-grid class="grid_menus">
  <ion-row class="fila_menus">

    <ion-col size="12" size-md="2.5" class="menu-lateral">
      <app-nav-lateral></app-nav-lateral>
    </ion-col>

    <ion-col size="12" size-md="9.5" class="contenido-principal">
      <ion-content>

        <div class="buscador">
          <ion-searchbar
            class="searchbar-blanco"
            placeholder="Buscar en LiveTogether..."
            showCancelButton="focus"
            (ionInput)="filtrarComunidades($event)">
          </ion-searchbar>
        </div>

        @for (comunidad of listaComunidades; track comunidad.id) {
          <div class="tarjeta" (click)="navigateToComunidad(comunidad)">
            <p class="tarjeta-titulo">{{ comunidad.nombre }}</p>
            <p class="tarjeta-subtitulo">{{ comunidad.direccion }}</p>

            @if (comunidad.idPresidente !== vecino.id) {
              <img class="salir-comunidad" src="assets/icon/salir.png" alt="Salir comunidad"
                   (click)="confirmarSalida($event, comunidad)"/>
            }
          </div>
        }

        @if (listaComunidades.length === 0 && todasComunidades.length !== 0) {
          <div class="div-sin">
            <span>No se ha encontrado ninguna comunidad.</span>
          </div>
        }

        @if (todasComunidades.length === 0) {
          <div class="div-sin">
            <span>
              No estás en ninguna comunidad ahora mismo.
              Pulsa el botón de
              <b style="color: #0E8008; font-size: 24px">+</b>
              para descubrir nuevas comunidades.
            </span>
          </div>
        }

      </ion-content>
    </ion-col>

  </ion-row>
</ion-grid>

<app-footer></app-footer>
